<div id="cartDiv" class="flex">
    <h1>Tu carrito de compras:</h1>

    <form id="formCart" >
        <label for="searchCart">Buscar Carrito</label>
        <input id="searchCart" type="text">
        <button id="buttonSearch">Buscar</button>
    </form>

    <div id="productsCartDiv">

    </div>

</div>

<script type="text/javascript" src="/js/indexCart.js"></script>