<div class="flex">
    <h1>Lista de productos:</h1>
    <div>
        
        <label for="category">Buscar por categoría</label>
        <select name="category" id="category">
            <option value="">Todas las categorías</option>
            <option value="Varios">Varios</option>
            <option value="HogaryDeco">Hogar&Deco</option>
        </select>
        <button id="orderPriceMax">Mayor precio</button>
        <button id="orderPriceMin">Menor precio</button>
    </div>
    <div id="productDiv">

    </div>
</div>

<script type="text/javascript" src="/js/indexHome.js"></script>