* {
    box-sizing: border-box;
}

body{
    background-color: rgb(197, 197, 197)
}
h1{
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
}
li {
    list-style: none;
    padding-bottom: 15px
}
.product {
    display: flex;
    width: 30%;
    border: 3px solid black;
    margin: 4px;
    margin-left: 15px;
}

.imgWidth {
    width: 20%;
}