<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>

<div id="cartDiv" class="flex">
    <h1>Tu carrito de compras:</h1>
    <div id="productsCartDiv">
    </div>

</div>

<script type="text/javascript" src="/js/indexCart.js"></script>