<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<title>Iniciar Sesión</title>

<div class="flex">
    <div>
        <h2>Iniciar sesión</h2>
        <form action="/api/sessions/login" method="post">
            <label for="userName">Usuario:</label>
            <input type="email" id="userName" name="email">
            <label for="userPass">Contraseña:</label>
            <input type="password" id="userPass" name="password">
            <button type="submit">Ingresar</button>
        </form>
        <form action="/api/sessions/recoveryPass">
            <button type="submit">
                Olvidaste tu contraseña?
            </button>
        </form>

    </div>
    <div>
        <h2>Aún no tenés un usuario? Crealo acá!</h2>
        <form action="/api/sessions/register" method="post">
            <label for="first_name">Nombre:</label>
            <input type="text" id="first_name" name="first_name">
            <label for="last_name">Apellido:</label>
            <input type="text" id="last_name" name="last_name">
            <label for="age">Edad:</label>
            <input type="number" id="age" name="age">
            <label for="email">Usuario:</label>
            <input type="email" id="email" name="email">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Ingresar</button>


        </form>
    </div>
    <div>
        <a href="/api/sessions/github">
            <button>
                Ingresar con GitHub
            </button></a>
    </div>
</div>