<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<title>Iniciar Sesi칩n</title>

<div class="flex">
    <div>
        <h2>Restablecer contrase침a</h2>
        <p>Ingresa el mail de tu cuenta y recibir치s un mail para poder modificar tu contrase침a</p>
        <form action="/api/sessions/recoveryPass" method="post">
            <label for="userName">Usuario:</label>
            <input type="email" id="userName" name="email">
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>