<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<title>Iniciar Sesión</title>

<div class="flex">
    <div>
        <h2>Restablecer contraseña</h2>
        <p>Tu link de recuperación ha expirado, solicita uno nuevo por favor</p>
        <a href="/api/sessions/recoveryPass">
        <button>
            Volver
        </button>
        </a>
    </div>
</div>